*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}
.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid #ffe66d;
    border-top: 20px solid #4ecdc4;
    animation: spinAnimate 2s linear 5s infinite ;
}
@keyframes  spinAnimate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}