*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bgc{
    height: 500px;
    width: 900px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: green;
    background-image: url(hunter-reilly-QR6FCZdNyLw-unsplash.jpg);
    background-size: cover;

}