*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}
/* Practice Question */
/* h1{
    color: orange;
}
p{
    background-color: black;
    color: white;
}
button{
    color: white;
    background-color: blue;
} */

/* Apna college logo */

h1{
    color: #ffa511;
    text-align: center;
    font-family: League Sparton;
    font-weight: 900;
    text-size-adjust: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: double aqua underline;
    text-transform: uppercase;
    
}